/**
 * ▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽▽
 * 
 * 更新履歴
 * No001 2025/0/ うるす
 * 
 * △△△△△△△△△△△△△△△△△△△△△△△△△△△△△
 */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

header,
footer {
    padding: 15px 20px;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 1rem;
    color: #444;
}

.layout {
    display: flex;
    height: 100vh;
}

#sidebar-placeholder {
    width: 200px;
    background-color: #eee;
    padding: 20px;
    box-sizing: border-box;
}

.main-area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin-left: 200px;
    padding-top: 100px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

#header-placeholder {
    background-color: #f0f0f0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#footer-placeholder {
    background-color: #f0f0f0;
    padding: 5px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 30px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: left;
}


.section {
    margin-bottom: 30px;
}

h3 {
    text-indent: 1em;
}

h4 {
    text-indent: 2em;
}

button {
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.playerBlock {
    margin-top: 20px;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    margin-left: 3em;
}

#avrDamage {
    margin-left: 2em;
    white-space: pre-line;
    font-weight: bold;
    font-size: large;
}

#errorDiv {
    color: red;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 2em;
}

#progressText {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 2em;
}

#progressBar {
    width: 100%;
    max-width: 500px;
    margin-left: 2em;
}

.page-section {
    display: none;
}

.page-section.active {
    display: block;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
    border-left: 1px solid #ccc;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar li {
    margin-bottom: 10px;
}

#sidebar a {
    text-decoration: none;
    color: #333;
}